# Xcode build artifacts
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
